$border-radius-comun: 0.875rem;
$borde-color-comun: rgb(255, 255, 255);
$border-comun: 3px solid $borde-color-comun;

// footer

$bg-footer: rgb(0,0,0);
$color-subtitulo-footer: rgb(255, 255, 255);
$color-lista-secundaria: rgb(255, 255, 255);
