$border-radius-comun: 0.875rem;
$borde-color-comun: rgb(255, 255, 255);
$border-comun: 3px solid $borde-color-comun;

// footer

$bg-footer: rgb(0,0,0);
$color-subtitulo-footer: rgb(255, 255, 255);
$color-lista-secundaria: rgb(255, 255, 255);


// titulos
$titulo-interno: rgb(0, 1, 72);
$background-color:  rgb(119, 119, 141);

// bg-color
$bg-gris-claro:  rgb(49, 49, 49);
$bg-gris-oscuro: rgb(119, 119, 141);
$bg-azul-oscuro :rgb(0, 1, 72);
$bg-bordo: rgb(118, 0, 0);