// borders
$border-radius-comun: 0.875rem;
$border-negro: 2px solid rgb(0,0,0);
$border-blanco: 2px solid rgb(255, 255, 255);

// footer
$bg-footer: rgb(0,0,0);
$color-subtitulo-footer: rgb(255, 255, 255);
$color-lista-secundaria: rgb(255, 255, 255);

// colors fonts
$texto-blanco: rgb(255, 255, 255);
$texto-amarillo: rgba(241, 217, 0, 0.722);
$texto-gris-claro: rgb(119, 119, 141);
$texto-negro: rgb(0,0,0);
$texto-azul-card:rgb(19, 22, 27);
$texto-gris-oscuro: rgb(49, 49, 49);



// titulos
$titulo-interno: rgb(0, 1, 72);
$background-color:  rgb(119, 119, 141);

// bg-color
$bg-gris-oscuro:  rgb(49, 49, 49);
$bg-gris-claro: rgb(119, 119, 141);
$bg-azul-oscuro :rgb(0, 1, 72);
$bg-bordo: rgb(118, 0, 0);
$bg-negro: rgb(0, 0, 0);
$bg-blanco: rgb(255, 255, 255);
$bg-oscuro-trasparente: rgba(15, 14, 14, 0.7);
$bg-verde: rgb(9, 182, 9);
$bg-card:rgb(19, 22, 27);
$bg-amarillo: rgb(241, 217, 0,);
// Shodow
$box-shadow-oscuro: 10px 5px 5px rgba(0, 0, 0, 0.5);