.fondo-secundario {
    background-image: url("https://images.unsplash.com/photo-1502164991821-03d3e78d9bde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    background-position: 50% 50%;
    height: 40vh;
    @include flex (column, center, center); 
    h2 {
        background-color: $bg-oscuro-trasparente;
        padding: 1rem;
        text-align: center;
        border-radius: $border-radius-comun;
        @extend %texto-bienvenida;
    }
}

.card-comprar {
    @include flex (row, space-around, center);
    border: $border-negro;
    border-radius: $border-radius-comun;
    margin: 0.25rem 0;
    background-color: $bg-blanco;
    overflow: hidden;
    div {
        @include flex (row, space-around, center);
        img {
            width: 3rem;
            border: 1px solid rgb(0, 0, 0);
            border-radius: $border-radius-comun;
            background: $bg-blanco;
        }
        p {
            margin-top: 0.80rem;
            padding-left: 0.75rem;
            color: $texto-negro;
            font-size: 1.25rem;
            &:hover {
                color:$texto-blanco;
            }
        }
        a {
            text-decoration-line: none;
            color: $texto-negro;
            &:hover {
                color:$texto-amarillo;
                font-weight: bold;
            }
        }
    }
    div:nth-child(1) {
        width: 20%;
        @include flex (row, center, center);
    }
    div:nth-child(2) {
        width: 80%;
        @include flex (row, start, center);
        background: $bg-blanco;
        border-radius: 0 $border-radius-comun $border-radius-comun 0;
        &:hover {
            background-color: $bg-card;
        }
    }
}



@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    .fondo-secundario {
        background-image: url("https://images.unsplash.com/photo-1502164991821-03d3e78d9bde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
        background-size: cover;
        background-position: 50% 50%;
        height: 50vh;
    }

    .card-comprar {
        div {
            @include flex (row, space-around, center);
            img {
                width: 3rem;
                border: 1px solid rgb(0, 0, 0);
                border-radius: $border-radius-comun;
                background: $bg-blanco;
            }
            p {
                margin-top: 0.80rem;
                padding-left: 0.75rem;
                color: $texto-negro;
                font-size: 1rem;
            }
        }
        div:nth-child(1) {
            width: 5%;    
        }
        div:nth-child(2) {
            width: 95%;
        }
    }
}


