.formulario {
    color: $texto-blanco;
    background-color:rgba(86, 86, 89, 0.5);
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: $border-radius-comun;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    }

.info-comentarios { 
    resize: none;
    margin: 5px;
    min-height: 5em;
}

.boton-cancelar [type="reset"], .boton-aceptar [type="submit"] {
    background-color: $bg-negro;
    color: $texto-blanco;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    } 

.boton-aceptar [type="submit"], .boton-cancelar [type="reset"] {
    &:hover {
    color: $texto-amarillo; 
    background-color: $bg-gris-oscuro;
    }
}

.ubicacion {
    margin-right: 0.5rem;
    padding: 5px 5px 5px 5px;
    @include flex (column, center, center);
}

.lista-ubicacion {
    li {
    @include flex (column, center, center);
    list-style: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: $texto-blanco;

    }
}

.mapa {
    iframe {
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2); 
        border-radius: $border-radius-comun;
        width: 100%;
        }
    }

.ubicacion {
    @include flex (row, center, center);
    .ubicacion-iconos {
        width: 25%;
        div {
            height: 2rem;
            @include flex (row, end, start);
            img {
                width: 2rem;
                border: 1px solid ;
                border-radius: 4px;
                box-shadow: $box-shadow-oscuro;
            }
        } 
    }
    .ubicacion-texto {
        width: 75%;
        div {
            height: 2rem;
            @include flex (row, start, start);
            p {
                text-align: left;
                font-size: 1rem;
                margin: 0.25rem 0 0 0.5rem;
                text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
            }
        }
    } 
    .agradecimiento {
        width: 100%;
        margin-top: 1rem;
        p {
        text-align: center;
        font-size: 2rem;
        color: $texto-blanco; 
        text-shadow: 1px 1px 2px black;
        text-shadow: $texto-brillante;
        }
    }  
}

.boton {
    label {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 20px;
        border: 3px solid;
        box-shadow: $box-shadow-oscuro;
    }
}


@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    .ubicacion {
        .ubicacion-iconos {
            width: 10%;
            div {
                height: 2rem;

                img {
                    width: 2rem;
                }
            } 
        }
        .ubicacion-texto {
            width: 40%;
            div {
                p {
                    font-size: 1rem;
                }
            }
        } 
        .agradecimiento {
            width: 50%;
            margin-top: nome;
            p {
            font-size: 2rem;
            }
        }  
    }
    

}

