
.footer {
    background-color:rgb(0,0,0);
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(255,255,255);
}

.div-navegacion {  
    display: inline-block;
}

.div-redes {
    ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 1em;
    }
}

.div-redes { 
     ul {
        li {
            display: inline-block;
            padding: 0.5em;
        }
    }
}

.div-medios {
    display:none;
}

.subtitulos-footer {
    color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 24px;
}

.lista-secudaria {
    display: inline-block;
    margin-top: 5px;
    list-style: none;
    font-size: 10px;
    padding-left: 0px;
    font-weight: 700;
}

.lista-secudaria {
    li {
        a {
        color: rgb(255, 255, 255);
        text-decoration-line: none;
        font-size: 20px;
        }
    }
}

.lista-secudaria li a:hover {
    li {
        a {
            &:hover {
                text-shadow:
                0 0 5px rgb(230, 211, 47),
                0 0 10px rgb(230, 211, 47),
                0 0 35px rgb(228, 207, 17),
                0 0 40px rgb(228, 207, 17);
            }
        }
    }
}

.icono {
    width: 3em; 
    height: 3em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    border: 1px solid rgb(255, 255, 255);
}

.lista-secudaria {
    li {
        img {
        width: 5em; 
        }
    }
}

.copyright {
    grid-area: copyright;
    font-size: 16px;
}

.div-medios {
    display:none;
}


@media screen and (min-width: 1200px) {

    .subtitulos-footer {
        font-size: 14px;
    }

    .lista-secudaria {
        li {
            a {
                font-size: 12px;
            }
        }
    }

    .lista-secudaria {
         li {
            font-size: 12px;
         }
    }

    .div-redes {
        ul {
        width: 200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
        margin-top: 0;
        }
    }
    
    .div-medios {
        display: inline-block;

    }

    .icono {
        width: 2em;
        height: 2em;
        display: inline-block;
        margin: 0.5em;
    }

    .icono:hover {
        width: 2.2em; 
        height: 2.2em;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    }
        
    .copyright {
        grid-area: copyright;
        font-size: 12px;
    }

}
