*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-destacado {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem;    
    text-align: center;
    border-radius: 0.875rem;
    background-color: rgb(49, 49, 49);
    border: 2px solid rgb(255, 255, 255);
    width: 95%;
    &:hover {
        text-shadow:
        0 0 5px rgb(230, 211, 47),
        0 0 10px rgb(230, 211, 47),
        0 0 35px rgb(228, 207, 17),
        0 0 40px rgb(228, 207, 17);
    }
}

body {
    // background: rgb(49,49,49);
    // background: linear-gradient(0deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    background: rgb(49,49,49);
    background: linear-gradient(0deg, rgba(49,49,49,1) 32%, rgba(0,0,0,1) 65%);
}
