.header {
    background-color: rgb(0, 0, 0) ;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
} 

.logo-principal {
    max-height: 4rem;
}

.lista-navbar {
    li {
    min-width: max-content;
    text-align: center;
    // padding: 0 0.25rem;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    }
}

.texto-lista-navbar {
    color: $color-navbar;
    font-size: 1.2rem;
    &:hover {
    // font-weight: bold;
    color: rgb(230, 211, 47);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    /* text-shadow:
        0 0 5px rgb(230, 211, 47),
        0 0 10px rgb(230, 211, 47),
        0 0 35px rgb(228, 207, 17),
        0 0 40px rgb(228, 207, 17); */
    /* background-color: rgb(101, 101, 105); */
    /* color: rgb(255, 255, 255); */
    /* transition-delay: 0.1s; */
    }
}

.hamburguesa {
    border: 2px solid rgb(101, 101, 105);
}

@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    .texto-lista-navbar {         
        font-size: 1rem;
    } 
    
}