.imagen-fondo {
    display: flex;     
    justify-content: center; 
    align-items: center; 
    margin: 1rem 0;
    background-image: url("../images/fondos/maco-urbano.jpg");
    background-size: cover;
    border-radius: $border-radius-comun;
    width: 100%;
    height: 50vh;
    p {
        width: 80%;
        padding: 3rem;
        text-align: center;
        border-radius: $border-radius-comun;
        font-style: italic;
        font-size: 3rem;
        font-weight: bold;
    }
}

.bienvenida {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/fondos/bahia-noche.jpg");
    background-color: rgba(0, 255, 255, 0.05);
    background-size: cover;
    border: 3px solid $borde-color-comun;
    border-radius: $border-radius-comun;
    padding: 0;
    margin: 0.75px;
    max-width: 100%;
    div {
        width: 50%;
        p {
            margin-top: 1.5rem;
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 0;
        }
        img {
            visibility: hidden;
            width: 0%;
            border-radius: 0 0.875rem 0.875rem 0;
        }
    }
}


.subtitulo-enlace {
    display: inline-block;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5em;
    a {
        display: block;
        border: 1px solid rgb(0, 0, 0);
        color: $color-fuente-secundaria;
        background-color:  rgb(119, 119, 141);
        border-radius: $border-radius-comun;
        font-size: 1rem;
        padding: 0.75rem;
        text-decoration-line: none;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
        &:hover {
            background-color: rgb(49, 49, 49);
            color: rgb(230, 211, 47),
        }                 
    }
}

.beneficios-texto {
    background-color: rgb(49, 49, 49) ;
    margin-top: 20px;
    color: $borde-color-comun;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 24rem;
        height: 10rem;
        
        p {
        font-size: 1.25rem;
        text-align: center;
        text-align: left;
        }
    }
}


.beneficios-iconos {
    background-color: rgb(49, 49, 49) ;
    color: $borde-color-comun;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 24rem;
        height: 10rem;
        img {
            width: 6rem;
            height: 6rem;
            text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    
        }
    }
}


@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    body {
        background: rgb(49,49,49);
        background: linear-gradient(0deg, rgba(49,49,49,1) 32%, rgba(0,0,0,1) 65%);
    } 

    .imagen-fondo {
        height: 100vh;
        p {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
            background-color: rgba(0, 255, 255, 0.05);
        }
    }
    



    .bienvenida {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        div {
            p {
                font-size: 1.5rem;
                margin-top: 0;
            }
            img {
                visibility: visible;
                width: 100%;
                border-radius: 0 0.875rem 0.875rem 0;
            }
        }
    }

    .subtitulo-enlace {
        a {      
        font-size: 1rem;
        }
    }

    .beneficios-texto {
        background-color: rgb(49, 49, 49) ;
        margin-top: 20px;
        color: $borde-color-comun;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 24rem;
            height: 5rem;
            p {
            font-size: 1.25rem;
            text-align: center;
            }
        }
    }
    
    
    .beneficios-iconos {
        background-color: rgb(49, 49, 49) ;
        margin-top: 20px;
        color: $borde-color-comun;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 6rem;
            img {
                width: 6rem;
                height: 6rem;
                text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
    
   
}