.imagen-fondo {
    display: flex;     
    justify-content: center; 
    align-items: center; 
    margin: 1rem;
    img {
        display: block;
        width: 100%;    
    } 
    p {
        width: 80%;
        padding: 40px;
        position: absolute;
        text-align: center;
        background-color: black;
        opacity: 0.75;
        font-style: italic;
        font-size: 3rem;
        font-weight: bold;
    }
}

.bienvenida {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/fondos/bahia-noche.jpg");
    background-color: rgba(0, 255, 255, 0.05);
    background-size: cover;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 0.875rem;
    padding: 0;
    margin: 0.75px;
    max-width: 90%;
    div {
        width: 50%;
        p {
            margin-top: 1.5rem;
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            font-family: 'Ubuntu', sans-serif;
            margin-bottom: 0;
        }
        img {
            visibility: hidden;
            width: 0%;
            border-radius: 0 0.875rem 0.875rem 0;
        }
    }
}




#subtitulo-enlace {
    display: inline-block;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#subtitulo-enlace {
    a {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255,255,255);
    background-color:  rgb(119, 119, 141);
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;
    text-align: center ;
    text-decoration-line: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    &:hover {
        background-color: rgb(49, 49, 49);
        color: rgb(255, 208, 0);
        }
    }
}

.beneficios {
    background-color: rgb(49, 49, 49) ;
    margin-top: 20px;
    color: rgb(255, 255, 255); 
    div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    p {
        font-size: 1.25rem;
        text-align: center;
        color: rgb(255,255,255);
        }
        img {
        width: 6em;
        height: 6em;
        margin: 0.5em;
        text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        }
    }
}

@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    body {
        background: rgb(49,49,49);
        background: linear-gradient(0deg, rgba(49,49,49,1) 32%, rgba(0,0,0,1) 65%);
    } 

    .imagen-fondo {
        margin-top: 10px;
        img {
            width: 75%;
        }

    }

    .bienvenida {
        display: flex;
        flex-flow: row wrap;
        background-image: url("/images/fondos/fondo-marca-Maco.jpg");
        background-size: cover;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 0.875rem;
        padding: 0;
        margin: 0.75px;
        max-width: 90%;
        div {
            width: 50%;
            p {
                font-size: 1.5rem;
                margin-top: 0;
            }
            img {
                visibility: visible;
                width: 100%;
                border-radius: 0 0.875rem 0.875rem 0;
            }
        }
    }



    #subtitulo-enlace {
        a {      
        font-size: 1rem;
        }
    }
    

    .beneficios {
        display: flex;
        direction: row wrap;
    }

    .beneficios {
        div {
            display: flex;
            flex-direction: column;
            p {
            text-align: center ;
            font-size: 1rem;
            }
            img {
            width: 3em;
            height: 3em;
            }
        }
    }
}