.imagen-fondo {
    @include flex (column, center, center); 
    margin: 1rem 0;
    background-image: url("../images/fondos/maco-urbano.jpg");
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    width: 100%;
    h1 {
        background-color: $bg-oscuro-trasparente; 
        padding: 1rem;
        text-align: center;
        border-radius: $border-radius-comun;
        @extend %texto-bienvenida;
 
    }
}

.bienvenida {
    @include flex (column, center, center); 
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://la.network/wp-content/uploads/2018/02/BUENOS-AIRES-OBELISCO-NOCHE-328282751.jpg");
    background-color: rgba(0, 255, 255, 0.05);
    background-size: cover;
    border: $border-comun;
    border-radius: $border-radius-comun;
    padding: 0;
    max-width: 95%;
    div {
        width: 50%;
        p {
            @extend %titulo-brillante;
            font-size: 1.5rem;
            text-align: center;    
        }
        img {
            visibility: hidden;
            width: 0%;
            border-radius: 0 0.875rem 0.875rem 0;
        }
    }
}

.subtitulo-enlace {
    display: inline-block;
    @include flex (column, center, center); 
    margin: 0.5rem;
    a {
        border: 2px solid rgb(0, 0, 0);
        color: $color-fuente-secundaria;
        background-color:  rgb(119, 119, 141);
        border-radius: $border-radius-comun;
        font-size: 1rem;
        padding: 0.75rem;
        text-decoration-line: none;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
        &:hover {
            background-color: $bg-gris-oscuro;
            color: $texto-amarillo
        }                 
    }
}

.beneficios {
    width: 100vw;   
    @include flex (row, center, center);       
    .beneficios-texto {
        width: 60%;
        @include flex (column, center, center);       
        div {
            height: 5rem;
            p {
            font-size: 1rem;
            text-align: center;
            margin-top: 0;
            }
        }
    }
    .beneficios-iconos {
        width: 40%;
        @include flex (column, center, center);
        div {
            height: 5rem;
            img {
                width: 4rem;
                height: 4rem;   
            }
        }
    }
}




@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */





/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    body {
        background: $bg-gris-oscuro;
        background: linear-gradient(0deg, rgba(49,49,49,1) 32%, rgba(0,0,0,1) 65%);
    } 

    .imagen-fondo {
        height: 100vh;
        p {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
            background-color: rgba(0, 255, 255, 0.05);
        }
    }

    .bienvenida {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        div {
            p {
                font-size: 2rem;
                margin-top: 0;
                padding: 0 2rem;
            }
            img {
                visibility: visible;
                width: 100%;
                border-radius: 0 0.875rem 0.875rem 0;
            }
        }
    }

    .subtitulo-enlace {
        a {      
        font-size: 1rem;
        }
    }



    .beneficios {
        width: 100vw;
        @include flex (column, center, center);
        p {
            display: inline-block;
            width:100%
        }
        .beneficios-texto {
            width: 100%;
            @include flex (row, space-around, center);
            div {
                width: 24rem;
                p {
                font-size: 1rem;
                text-align: center;
                margin-top: 0;
                }
            }
        }   
        .beneficios-iconos {
            width: 100%;
            @include flex (row, space-around, center);
            div {
                @include flex (row, space-around, center);
                height: 7rem;
                width: 24rem;
                img {
                    width: 6rem;
                    height: 6rem;   
                }
            }
        }
    }

 
    


    
   
}