.card-text p {
  color: rgb(241, 217, 0);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.titulo-destacado {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.875rem;
  background-color: rgb(49, 49, 49);
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-destacado:hover {
  text-shadow: 0 0 5px rgb(230, 211, 47), 0 0 10px rgb(230, 211, 47), 0 0 35px rgb(228, 207, 17), 0 0 40px rgb(228, 207, 17);
}

body {
  color: white;
  background: rgb(49, 49, 49);
  background: linear-gradient(0deg, rgb(49, 49, 49) 32%, rgb(0, 0, 0) 65%);
}

h1 {
  font-weight: bold;
  font-style: italic;
}

.header {
  background-color: rgb(0, 0, 0);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.logo-principal {
  max-height: 4rem;
}

.lista-navbar li {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
}
.lista-navbar li a {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.875rem;
}
.lista-navbar li a:hover {
  color: rgb(230, 211, 47);
  text-shadow: 0 0 5px rgb(230, 211, 47), 0 0 10px rgb(230, 211, 47), 0 0 35px rgb(228, 207, 17), 0 0 40px rgb(228, 207, 17);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.875rem;
}

.hamburguesa {
  border: 2px solid rgb(101, 101, 105);
}

/* Fin Diseno Tablet */
/* Diseno Desktop */
@media screen and (min-width: 1200px) {
  .texto-lista-navbar {
    font-size: 1rem;
  }
  .lista-navbar li a {
    font-size: 1.25rem;
  }
}
.imagen-fondo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background-image: url("../images/fondos/maco-urbano.jpg");
  background-size: cover;
  border-radius: 0.875rem;
  height: 50vh;
  width: 100%;
}
.imagen-fondo p {
  padding: 3rem;
  text-align: center;
  border-radius: 0.875rem;
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
}

.bienvenida {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/fondos/bahia-noche.jpg");
  background-color: rgba(0, 255, 255, 0.05);
  background-size: cover;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 0.875rem;
  padding: 0;
  max-width: 95%;
}
.bienvenida div {
  width: 50%;
}
.bienvenida div p {
  margin-top: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0;
}
.bienvenida div img {
  visibility: hidden;
  width: 0%;
  border-radius: 0 0.875rem 0.875rem 0;
}

.subtitulo-enlace {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
.subtitulo-enlace a {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(119, 119, 141);
  border-radius: 0.875rem;
  font-size: 1rem;
  padding: 0.75rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
.subtitulo-enlace a:hover {
  background-color: rgb(49, 49, 49);
  color: rgb(230, 211, 47);
}

.beneficios-texto {
  background-color: rgb(49, 49, 49);
  margin-top: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beneficios-texto div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 24rem;
  height: 10rem;
}
.beneficios-texto div p {
  font-size: 1.25rem;
  text-align: center;
  text-align: left;
}

.beneficios-iconos {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beneficios-iconos div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 24rem;
  height: 10rem;
}
.beneficios-iconos div img {
  width: 6rem;
  height: 6rem;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Fin Diseno Tablet */
/* Diseno Desktop */
@media screen and (min-width: 1200px) {
  body {
    background: rgb(49, 49, 49);
    background: linear-gradient(0deg, rgb(49, 49, 49) 32%, rgb(0, 0, 0) 65%);
  }
  .imagen-fondo {
    height: 100vh;
  }
  .imagen-fondo p {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    background-color: rgba(0, 255, 255, 0.05);
  }
  .bienvenida {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .bienvenida div p {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .bienvenida div img {
    visibility: visible;
    width: 100%;
    border-radius: 0 0.875rem 0.875rem 0;
  }
  .subtitulo-enlace a {
    font-size: 1rem;
  }
  .beneficios-texto {
    background-color: rgb(49, 49, 49);
    margin-top: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .beneficios-texto div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 24rem;
    height: 5rem;
  }
  .beneficios-texto div p {
    font-size: 1.25rem;
    text-align: center;
  }
  .beneficios-iconos {
    background-color: rgb(49, 49, 49);
    margin-top: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .beneficios-iconos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 6rem;
  }
  .beneficios-iconos div img {
    width: 6rem;
    height: 6rem;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
}

.div-navegacion {
  display: inline-block;
}

.div-redes ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin-top: 1rem;
}

.div-redes ul li {
  display: inline-block;
  padding: 0.5rem;
}

.div-medios {
  display: none;
}

.subtitulos-footer {
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
}

.lista-secudaria {
  display: inline-block;
  margin-top: 5px;
  list-style: none;
  padding-left: 0;
}
.lista-secudaria li a {
  font-weight: bold;
  color: rgb(255, 255, 255);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 1.25rem;
}
.lista-secudaria li a:hover {
  text-shadow: 0 0 5px rgb(230, 211, 47), 0 0 10px rgb(230, 211, 47), 0 0 35px rgb(228, 207, 17), 0 0 40px rgb(228, 207, 17);
}
.lista-secudaria li img {
  width: 5rem;
}

.icono {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.copyright p {
  font-size: 1.25rem;
  padding: 0;
}

.div-medios {
  display: none;
}

@media screen and (min-width: 1200px) {
  .subtitulos-footer {
    font-size: 1rem;
  }
  .lista-secudaria li a {
    font-size: 1rem;
  }
  .div-redes ul {
    width: 200px;
    padding: 0;
    margin-top: 0;
  }
  .div-medios {
    display: inline-block;
  }
  .icono {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin: 0.5rem;
  }
  .icono:hover {
    width: 2.2rem;
    height: 2.2rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .copyright p {
    font-size: 1rem;
    padding: 0;
  }
}
.formulario {
  color: rgb(255, 255, 255);
  background-color: rgba(86, 86, 89, 0.5);
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.875rem;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
}

.info-comentarios {
  resize: none;
  margin: 5px;
  min-height: 5em;
}

.boton-cancelar [type=reset], .boton-aceptar [type=submit] {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.boton-aceptar [type=submit]:hover, .boton-cancelar [type=reset]:hover {
  color: rgb(255, 208, 0);
  background-color: rgb(49, 49, 49);
}

.ubicacion {
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.lista-ubicacion li {
  list-style: none;
  font-size: 14px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.ubicacion iframe {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.875rem;
}

.ubicacion img {
  width: 1.5em;
  padding-right: 0.5em;
}

.icono-ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0 0.5em 0 0;
}

.icono-ubicacion p {
  margin-top: 1em;
  font-size: 14px;
}

.icono-ubicacion img {
  width: 2.5em;
}

.agradecimiento {
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.agradecimiento P {
  text-shadow: 1px 1px 2px black;
}

/* Fin Diseno Tablet */
/* Diseno Desktop */
.section-productos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(0, 0, 0);
}

.card {
  border-radius: 0.875rem;
  width: 25rem;
  margin: 0.5rem;
}
.card img {
  width: auto;
  padding: 0.25rem;
  border-radius: 1rem;
}

.card-text {
  background: rgb(77, 78, 83);
  background: radial-gradient(circle, rgb(77, 78, 83) 0%, rgb(1, 2, 8) 100%);
  border-radius: 0 0 0.875rem 0.875rem;
}
.card-text p {
  margin-top: 0.5rem;
}

/* Diseno Tablet */
/* Fin Diseno Tablet */
/* Diseno Desktop */
@media screen and (min-width: 1200px) {
  .section-productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: none;
  }
  .section-productos .card {
    width: 18em;
  }
}
.lista-como-comprar {
  padding-right: 0;
  padding-left: 0.5em;
}
.lista-como-comprar li {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
}
.lista-como-comprar li:hover {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.lista-como-comprar li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.lista-como-comprar li a:hover {
  color: rgb(255, 208, 0);
  font-weight: 600;
}

/* Fin Diseno Tablet */
/* Diseno Desktop */
@media screen and (min-width: 1200px) {
  .lista-como-comprar {
    margin-bottom: 1em;
  }
  .lista-como-comprar li {
    font-size: 14px;
    padding: 10px;
  }
}/*# sourceMappingURL=styles.css.map */