/* DISENO MOBILE  */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: rgb (119, 119, 141);
}

.mt-n1 {
    margin-top: -0.25rem !important;
}



/*------------------------------ Cabecera de la pagina  ---------------------------------*/
.header {
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    z-index: 100;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.header-navbar {
    display: none;
}

.header-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}  

.header-navbar ul li {
    display: inline-block; 
    padding: 0px 05px 0px 05px;
    margin: 2px;
}

.header ul li a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.header ul li a:hover, .lista-secudaria li a:hover   {
    color: #beb441;
    font-weight: 800;
}

.logo-principal { 
    width: 25%; 
}

.mitexto-bs-navbar {  /* estilo para navbar de Bootstraps */
    padding: 0;
    margin: 0;
    font-size: 14px;
}

/* ----------------- Fin Cabecera de la pagina --------------------- */

/* ---------------------- Contenido Principal -----------------------*/


.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, auto, auto, 1fr;
    grid-template-areas:  
        "header"
        "principal"
        "subtitulo-enlace"   
        "footer";
    /* min-height: 100vh;  */
}

.imagen-fondo {
    display: none; }

.principal {
    grid-area: principal;
    background-color: rgb(86, 86, 89);
    /* min-height: 100vh; */
}

.principal p {
    font-size: 25px;
    color: rgb(255,255,255);
}

.formulario {
    color: rgb(255,255,255);
    background-color:rgba(86, 86, 89, 0.5);
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
    }


.list-group-numbered li {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.list-group-numbered li:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.list-group-numbered a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.list-group-numbered a:hover {
    color: rgb(255, 208, 0);
    font-weight: 600;
}


.titulo-comun, 
.boton-aceptar, 
.boton-cancelar, 
.tyc-check, 
.opcion-si, .opcion-no, 
.span-si, .span-no  { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-comentarios { grid-area: info-comentarios; 
    resize: none;
    margin: 5px;
    min-height: 5em;
}

.boton-cancelar [type="reset"], .boton-aceptar [type="submit"] {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    } 

.boton-aceptar [type="submit"]:hover, .boton-cancelar [type="reset"]:hover {
    color: rgb(255, 208, 0); 
    background-color: rgb(49, 49, 49);
    }

.titulo-destacado {
    color: rgb(255, 255, 255);
    margin-top: 1em;    
    background-color: rgb(49, 49, 49);
    font-size: 24px;
    text-align: center ;
}

.seccion-promo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.seccion-promo .card {
    margin: 0.5em;
}

.contenido-promo img {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px; 
    height: 300px;
    Transition: all 0.4s ease-in-out;
}

.descripcion-promo p {
    display: block;
    color: rgb(0, 0, 0);
}


#subtitulo-enlace {
    grid-area: subtitulo-enlace;
    display: inline-block;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



#subtitulo-enlace a {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color:  rgb(119, 119, 141);
    font-size: 18px;
    text-align: center ;
    padding: 10px;
    text-decoration-line: none;
    color: rgb(255,255,255);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

#subtitulo-enlace a:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 208, 0);
}




/*------------------------ Fin Contenido Principal ----------------------------*/

/*---------------------------- Productos  ----------------------------------*/

.card {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.descripcion-productos {
    background-color: rgb(49, 49, 49);

    font-weight: 600;
}

.descripcion-productos p {
    flex:display;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}






/* --------------------------- Fin Productos ----------------------------- */


/*---------------------------- Footer ------------------------------ */

#beneficios {
    display: none;
}

.footer {
    grid-area: footer;
    background-color:rgb(0,0,0);
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(255,255,255);
}

.div-navegacion {  
    display: inline-block;
}


.div-redes ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.div-redes ul li{
    display: inline-block;
    padding: 0.5em;
}

.div-medios {
    display:none;
}

.subtitulos-footer {
    color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
}


.lista-secudaria {
    display: inline-block;
    margin-top: 5px;
    list-style: none;
    font-size: 10px;
    padding-left: 0px;
    font-weight: 700;

}

.lista-secudaria li a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    font-size: 20px;
}

.icono {
    width: 3em; 
    height: 3em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    border: 1px solid rgb(255, 255, 255);
}





.copyright {
    grid-area: copyright;
    font-size: 20px;
}

@media screen and (max-width: 599px) and (orientation: landscape){
    
}

/* fin Diseno Mobile */


/* Diseno Tablet */

@media screen and (min-width: 600px) {
    
}

/* Fin Diseno Tablet */


/* Diseno Desktop */

@media screen and (min-width: 1200px) {

    .grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 1fr 1fr 1fr;
    grid-template-areas:  
        "header             header          header"
        "imagen-fondo       imagen-fondo    imagen-fondo"
        "principal          principal       principal"
        "subtitulo-enlace subtitulo-enlace  subtitulo-enlace"    
        "beneficios         beneficios      beneficios"
        "footer             footer          footer";
    }

    body {
        background-image: url(../images/fondos/buzo\ fondo\ pagina\ -\ copia\ \(2\).jpg);
        background-size: 300% 300%;
        /* min-height: 100vh; */
    } 

    .header-navbar {
        display: contents;
        text-align: center;
        border-bottom: 2px solid #4182be;
    }

    .imagen-fondo {
        margin-top: 1em;
        margin-bottom: 1em;
        grid-area: imagen-fondo;
        display: flex;     
        justify-content: center; 
        align-items: center; 
    } 
    
    .imagen-fondo img {
        display: inline-block;
        width: 75%;
        border: 2px solid rgb(255,255,255);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    }
    
    .logo-principal { 
        width: 10%; 
    }    

    .subtitulo-imagen-fondo {
        border-color: black ;
        width: 80%;
        padding: 40px;
        position: absolute;
        text-align: center;
        background-color: black;
        color: rgb(255, 255, 255);
        font-style: italic;
        font-size: 40px;
        opacity: .5;
    }

    .seccion-promo {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .principal {
    background-color: rgba(0, 0, 0, 0);
    /* margin-top: 4rem; */
    }

    /* .titulo-destacado p {
        margin-top: 50px;
    }
     */
    
    .ubicacion {
        margin-right: 10px;
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    
    .lista-ubicacion li {
        list-style: none;
        font-size: 14px;
        margin-top: 10px;
        color: rgb(255,255,255);
        display:flex;
        align-items: center ;
    }

    .ubicacion iframe {
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2); 
    }

    .ubicacion img {
        width: 1.5em;
        padding-right: 0.5em;
    }


    .agradecimiento {
        text-align: center;
        font-size: 3em;
        color: rgb(255, 255, 255); 
    }

    .agradecimiento p
    {text-shadow: 1px 1px 2px black}

    .section-productos {
        margin-top: 100px;
    }

    .productos {
        /* height: 2000px; */
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .contenido-promo {
        margin-left: auto;
        margin-right: auto;
       
    }

    #subtitulo-enlace a {      
        font-size: 12px;
    }

    #beneficios {
        grid-area: beneficios;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        background-color: rgb(49, 49, 49) ;
        margin-top: 20px;
        color: rgb(255, 255, 255); 
        text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    }

    #beneficios p {
        position: relative;
        display: inline-block;
        border-radius: 3px;
        width: 200px;
        font-size: 12px;
        text-align: center ;
        padding: 10px;
        text-decoration-line: none;
        color: rgb(255,255,255);
    }

    .footer {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "div-navegacion    div-redes    div-medios"
            "div-navegacion    div-redes    div-medios "
            "copyright         copyright    copyright";
        justify-items: center;
        align-items: start;
        }
ma
    .subtitulos-footer {
        font-size: 12px;
    }

    .div-redes ul {
        width: 200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
    }

    .div-medios {
        display: inline-block;
        grid-area: div-medios;

    }

    .icono {
        width: 2em;
        height: 2em;
        display: inline-block;
        margin: 0.5em;
    }

    .icono:hover {
        width: 2.2em; 
        height: 2.2em;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    }
    


    
    .copyright {
        grid-area: copyright;
        font-size: 10px;
    }

    .descripcion-talles {
        margin:0;
        padding: 0;
    }

    .mitexto-bs-navbar {  /* estilo para navbar de Bootstraps */
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    

    .lista-secudaria li a {
        font-size: 10px;
    }

}
/* Fin Diseno Desktop  */

/* Para el de aceptar:
form input [type=“submit”] 

Para el de cancelar:
form input [type=“reset”] */